<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

<form class="container" (ngSubmit)="login()">
  <div>
    <label for="username">Username: </label>
    <input id="username" name="username" [(ngModel)]="username" placeholder="Username..." >
  </div>

  <div>
    <label for="password">Password: </label>
    <input id="password" name="password" [(ngModel)]="password" placeholder="Password...">
  </div>

  <div>
    <input type="submit" value="Log in">
  </div>
</form>

</body>
</html>




